.table-container {
    max-height: 350px; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto;
    display: block;
    border: 1px solid #ddd; /* Opcional: añade un borde para mejor visibilidad */
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    position: sticky; /* Asegura que la cabecera esté fija al hacer scroll */
    top: 0;
    background-color: #a1b6cb; /* Color de fondo de la cabecera */
    z-index: 1; /* Asegura que la cabecera esté encima del contenido */
}

.table tbody tr {
    height: 40px; /* Ajusta esta altura según tus necesidades */
}

/* Estilo para las celdas, opcional */
.table td, .table th {
    padding: 8px;
    text-align: left;
}