<!-- Extiende la plantilla base -->
{% extends 'base.html' %}

{% block content %}
  <!-- Muestra el nombre del software como el título principal -->
  <h2>{{ software.nombre }}</h2>
  
  <!-- Muestra la versión del software -->
  <p>Versión: {{ software.version }}</p>
  
  <!-- Muestra la licencia del software -->
  <p>Licencia: {{ software.licencia }}</p>
  
  <!-- Muestra la fecha de instalación del software -->
  <p>Fecha de Instalación: {{ software.fecha_instalacion }}</p>
  
  <!-- Enlace para editar el software -->
  <a href="{% url 'software_update' software.pk %}">Editar</a>
  
  <!-- Formulario para eliminar el software -->
  <form action="{% url 'software_delete' software.pk %}" method="post">
    {% csrf_token %}
    <!-- Botón para confirmar la eliminación -->
    <button type="submit">Eliminar</button>
  </form>
  
  <!-- Enlace para volver a la lista de software -->
  <a href="{% url 'software_list' %}">Volver a la lista</a>
{% endblock %}
