{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>UCI</title>
    <!-- Agrega Bootstrap para estilos básicos -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Enlace al archivo CSS estático -->
    <link rel="stylesheet" href="{% static 'Style/style.css' %}">
    <style>
        body {
            padding-top: 20px;
        }
        .notification {
            position: fixed;
            top: 20px;
            right: 20px;
            width: 300px;
            z-index: 1050;
        }
    </style>
</head>
<body>
    <div class="container">
        <header>
            <h1>Gestión de Recursos UCI</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'software_list' %}">Software</a></li>
                    <li><a href="{% url 'hardware_list' %}">Hardware</a></li>
                    <li><a href="{% url 'notificacion_list' %}">Notificaciones</a></li>
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock %}
    </div>

    <!-- Contenedor para notificaciones -->
    <div id="notifications" class="notification"></div>

    <!-- Script para manejar WebSocket -->
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var socket = new WebSocket('ws://' + window.location.host + '/ws/notificaciones/');

            socket.onmessage = function(e) {
                var data = JSON.parse(e.data);
                var mensaje = data['mensaje'];
                var prioridad = data['prioridad'];

                var notificacion = document.createElement('div');
                notificacion.className = 'alert ' + (prioridad === 'alta' ? 'alert-danger' : (prioridad === 'media' ? 'alert-warning' : 'alert-secondary'));
                notificacion.innerText = mensaje;

                document.getElementById('notifications').prepend(notificacion);

                setTimeout(() => {
                    notificacion.remove();
                }, 5000);  // Eliminar notificación después de 5 segundos
            };

            socket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };
        });
    </script>
</body>
</html>
